/* ================================================
--> 3. COMMON
================================================== */
/* Font faces */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500,600,700');
.form-control:focus{
	box-shadow: none;
}

/*  Comoon element style */
a{
	color: $text-color;
	text-decoration: none;
	@include transition(all 0.3s ease-in);
	&:hover, &:focus, &:active{
		box-shadow: none;
		outline: none;
		text-decoration: none;
	}
}
.bg-image-holder, .bg-image {
	background-size: cover !important;
	background-position: 50% 50% !important;
	@include transition(all 0.3s linear);
	background: $sand;
	position: relative;
}
.bg-image,
.bg-image1 {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	}
}
.bg-image {
	&:before {
		background-color: rgba(0, 0, 0, .5);
	}
}

.bg-image1 {
	&:before {
		background-color: rgba(0, 0, 0, 0.70);
	}
}
::selection {
	background-color: $primary-color;
	color: $white-color;
}
.letter-spacing {
	letter-spacing: 7px;
}

/* Height Vertical 100% */
.vh100 {
	height: 100vh;
}

/* padding */
.no-padding {
	padding: 0!important;
}
.pv100 {
	padding-top: 100px;
	padding-bottom: 100px;
}
.pt30 {
	padding-top: 30px;
}
.pb30 {
	padding-bottom: 30px;
}
.pb50 {
	padding-bottom: 50px;
}
.pv30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pt100{
	padding-top: 100px;
}
.pb100 {
	padding-bottom: 100px;
}
.t-pl-50{
	@include tablet {
		padding-left: 50px;
	}
}

.t-pr-50{
	@include tablet {
		padding-right: 50px;
	}
}

/* All margins */
.mt-30{
	margin-top: 30px;
}
.mt-35 {
	margin-top: 35px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-60 {
	margin-top: 60px;
}
.mt-70 {
	margin-top: 70px;
}
.mt-75 {
	margin-top: 75px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mb-70 {
	margin-bottom: 70px;
}

/* Mobile Margin */
.m-mt-20 {
	margin-top: 20px;
	@include desktops {
		margin-top: 0;
	}
}
.m-mt-50 {
	margin-top: 50px;
	@include tablet {
		margin-top: 0;
	}
}
.m-mb-20 {
	margin-bottom: 20px;
	@include desktops {
		margin-bottom: 0;
	}
}
.m-mb-50 {
	margin-bottom: 50px;
	@include tablet {
		margin-bottom: 0;
	}
}
/* Tablet Margin Top */
.t-mt-50{
	@include tablet{
		margin-top: 50px;
	}
}
.t-mt-60{
	@include tablet{
		margin-top: 60px;
	}
}
.t-mt-70{
	@include tablet{
		margin-top: 70px;
	}
}
.t-mt-80{
	@include tablet{
		margin-top: 80px;
	}
}
.t-mt-80{
	@include tablet{
		margin-top: 80px;
	}
}
/* Large desktops */
.t-ml-100 {
	@include tablet {
		margin-left: 100px;
	}
}
.t-mr-100 {
	@include tablet {
		margin-right: 100px;
	}
}

/* Large Margin Top */
.lg-mt-70 {
	@include desktops{
		margin-top: 70px;
	}
}
.lg-mt-80{
	@include desktops{
		margin-top: 80px;
	}
}
.lg-mt-90{
	@include desktops{
		margin-top: 90px;
	}
}

/* Font Weight */
.light {
	font-weight: 300;
}
.normal {
	font-weight: 400;
}
.mid {
	font-weight: 500;
}
.mid-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}

/* Common class shared */
body.boxed {
	margin:0 auto;
	position: relative;
    @include desktops {
		max-width: 970px;
	}
	@include large-desktops {
		max-width: 1260px;
	}
	.main-wrapper {
		background: $white-color;
	}
}


/* Color */
.text-primary {
	color: $primary-color!important;
}
.text-white {
	color: $white-color!important;
}
.text-dark {
	color: $title-color!important;
}
.light-gray {
	color: $text-color2;
}
.white-color {
	color: $white-color;
}

/* Background Color */
.bg-white {
	background-color: $white-color;
}
.bg-dark {
	background-color: $black-color;
}
.bg-dark2 {
	background-color: rgb(23, 26, 31);
}
.bg-water {
	background-color: transparent;
}
.bg-sand {
	background-color: $sand;
}
.bg-black-russion {
	background-color: $black-russion;
}
.bg-primary {
	background-color: $primary-color!important;
}
.bg-whiteSmoke {
	background-color: $white-smoke;
}

/*  Paralax Style */
.paralax {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
/* Overflow Hidden*/
.overflowH {
	overflow: hidden;
}
