$primary-color: #968FF4;
$secondary-color: #6AB6E5;
$white-color: #ffffff;
$black-color: #000000;
$sand: #f5f5f5;
$text-color:#929292;
$text-color2:#d2d0d0;
$title-color: #1d2025;
$title-color2: #222222;
$border-color: #EBEBEB;
$border-color2: #F3F3F3;
$white-smoke : #F8F8F8;


@function tint($primary-color, $percentage) {
  @return mix($primary-color, transparent, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
