$primary-color: #8cc343;

/*=== Text color ===*/
a:hover,
a:focus,
.boxed-menu .topbar i,
.home-feature .feature_single .icon,
.more-feature-left .feature-icon,
.countup-section .counter,
.countup-section span.count,
.services-area .media-box .media-icon,
.services2 .media-box .media-icon,
.card .card-title:hover,
.team-card a.overlay_icon:hover i.fa,
.links li a:hover,
.links li a:hover:before,
.bredcrumb .pager.middle a,
.project-details .styled_list i,
.member_desc li i,
.page-error .error h1,
.page-contactus .contact_sidebar .media-icon,
.service_single-area .service_details-desc ul.styled_list i,
.footer .social-icons .btn-social-o:hover,
.copyright p a:hover,
.location ul li a:hover,
.comment_title .btn,
.element-sidenav .nav-item.active > a.nav-link,
.selectOptions .sbOptions a:hover,
.element-sidenav .nav-item > a.nav-link:hover ,
.icon-left .card-header.header-inverse a,
form.register .btn-link,
ul.nav .nav-item.active .nav-link,
.pricing_image-card .circle span.price,
.pricing .circle .price, i.overlay-icon,
.icon_tabs .nav-item a.nav-link:hover .fa,
.icon_tabs .nav-item a.nav-link.active .fa,
.slider-caption .caption-content i.play-icon,
.navbar-nav.site_nav .nav-item a.nav-link.active,
.card-images .card-body .content .price,
.card-images .card-body .content .rating i,
.list-style li i,
.list-style3 li i,
.footer-copyright p a:hover,
.list-style3 li a:hover,
.icon-left.card.card-accordion .card-header.header-inverse a,
.nav-tabs.bar-tabs .nav-link.active h5,
.navbar-nav.site_nav .nav-item a.nav-link:hover,
.icon-style-1 i,
nav.navbar .navbar-toggler,
 {
	color: $primary-color;
}
// Color Important
.text-primary,
a.text-primary:focus,
a.text-primary:hover,
.btn-primary.btn-strock {
	color: $primary-color!important;
}

/*=== Background color ===*/
.btn-primary,
::selection,
.badge-primary,
.slick-dots li.slick-active button,
#banner-slider .slick-dots li button,
.img_overlay-container a.icon:hover,
.member_contact .social-icons .btn:hover,
.page-comingsoon .count-down .tab-val,
.list-group-item.active,
.pricing-area .pricing:hover .btn,
.card.card-style2:hover .card-block:before,
.card.card-style3:hover .card-block:before,
.blog-classic .card.card-style2 .card-block h4:before,
.blog-classic .card.card-style2 .card-block .btn:hover,
.page-item.active a.page-link,
.page-item:hover a.page-link,
.blog-sidebar .tags .btn:hover,
.social-share ul.social-icons li a.btn-social:hover,
.collapse-card .card-header a,
.radio-custom:checked + .radio-custom-label:before,
.checkbox-custom:checked + .checkbox-custom-label:before,
ul.nav-tabs.no-bg .nav-item .nav-link.active,
ul.nav-tabs.nav-pills .nav-item .nav-link.active,
.pricing.delux .card-header,
.pricing_image-card .btn:hover,
.pricing .btn:hover,
.arrow-shade button.slick-arrow:hover,
.arrow-shade button.slick-arrow:focus ,
.quick-view-bullets li.active a span,
.icon-style-1:hover i,
h3.section-title::after,
h3.section-title-center:after,
.card.card-accordion .card-header a,
.testimonial-review-slider button.slick-prev:hover,
.testimonial-review-slider button.slick-next:hover,
.btn-social.custom:hover,
.navbar-nav.site_nav .nav-item .dropdown-menu,
.fancybox-morphing .fancybox-bg,
.morphing-btn-clone,
.nav-tabs.feature-tabs .nav-item:hover .media-style-01 i,
.home-promo-video a.video-link span,
.btn-scroll-down:hover {
	background-color: $primary-color;
}

button.slick-next:active,
button.slick-next:focus,
button.slick-next:visited,
button.slick-next:hover {
	background-color: darken($primary-color, 5%) ;
}

// Background Color Important
.bg-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
button.slick-next:active,
button.slick-next:focus,
button.slick-next:visited,
button.slick-next:hover,
button.slick-prev:active,
button.slick-prev:focus,
button.slick-prev:visited,
button.slick-prev:hover,
.btn-white:hover,
.btn-black:hover,
.btn-black:focus,
.btn-black.active,
.btn-black:active {
	background-color: darken($primary-color, 5%) !important;
}
.hover-overlay.effect-transformY {
	background-color: rgba($primary-color, 0.8);
}
.btn-primary.btn-cta {
	background-color: rgba($primary-color, 0.3) !important;
}
.btn-primary.btn-cta:hover {
	background-color: darken($primary-color, 5%) !important;
}

/*=== Border color ===*/
input.form-control:focus,
textarea.form-control:focus,
input.form-control.active,
input.form-control:active,
.img_overlay-container a.icon:hover,
.page-comingsoon .count-down .tab-val,
#banner-slider .slick-dots li button,
.list-group-item.active,
.services2 .more-feature-left .more-features .overlay-box,
.pricing-area .pricing:hover .btn,
.member_contact .social-icons .btn:hover,
.blog-classic .card.card-style2 .card-block .btn:hover,
.page-item.active a.page-link, .page-item:hover a.page-link,
.blog-sidebar .tags .btn:hover,
.social-share ul.social-icons li a.btn-social:hover,
p.devider.devider_primary,
.btn-primary-outlined,
.btn-primary-outlined:hover,
.btn-primary-outlined:focus,
.btn-primary-outlined.active,
.btn-primary-outlined:active,
.collapse-card .card-header a,
.icon-left .card-header.header-inverse a,
ul.nav-tabs.no-bg .nav-item .nav-link.active,
ul.nav-tabs.nav-pills .nav-item .nav-link.active,
.pricing_image-card .btn:hover,
.pricing .btn:hover,
.icon_tabs .nav-item a.nav-link:hover:before,
.icon_tabs .nav-item a.nav-link.active:before,
.arrow-shade button.slick-arrow:hover,
.arrow-shade button.slick-arrow:focus ,
.banner-style .slick-dots li.slick-active button,
.icon-style-1:hover,
.card.card-accordion .card-header a,
.product-slider .slick-dots li.slick-active button,
.icon-left.card.card-accordion .card-header.header-inverse a,
.nav-tabs.bar-tabs .nav-link.active:before,
.icon-style-1,
.card.card-accordion .card-header a,
nav.navbar .navbar-toggler,
.btn-primary.btn-strock {
	border-color: $primary-color;
}
//Border Color Important
.btn-primary {
	border-color: $primary-color !important ;
}
.btn-group .btn-primary:before,
.btn-black:hover,
.btn-black:focus,
.btn-black.active,
.btn-black:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active {
	border-color: darken($primary-color, 5%) !important;
}
.date-holder::after {
	border-left: 15px solid $primary-color;
}
.blockquote {
	border-left: 3px solid $primary-color!important;
}
.blockquote.text-right {
    border-right: 3px solid $primary-color;
    border-left: 1px solid #e5e5e5;
}
ul.nav-tabs .nav-item .nav-link.active {
	border-top-color: $primary-color;
}

/*=== Border color Opacity ===*/
.home-promo-video a.video-link {
	border: 5px solid rgba($primary-color, 0.5);
}

/*=== Logo color ===*/
.svgLogo .cls-2,
.svgLogo2 .cls-2  {
	fill: $primary-color;
}
